/*Author: Eli Clemens */
/*Filename:style.css*/
body {
    background-color: rgb(242, 214, 177);
    text-align: center;
}

.container-fluid {
    background-color: rgb(250, 184, 98);
}

.img-fluid {
    height: 300px;
}
.container{
    width:90%;
    margin: 10px;
    
}
video{
    max-height:500px;
    padding:10px;
}